mimiprojct/__pycache__/developer.cpython-312.pyc
mimiprojct/__pycache__/events.cpython-312.pyc
mimiprojct/__pycache__/task.cpython-312.pyc
mimiprojct/__pycache__/team.cpython-312.pyc
mimiprojct/__pycache__/developer.cpython-312.pyc
mimiprojct/__pycache__/events.cpython-312.pyc
mimiprojct/__pycache__/task.cpython-312.pyc
mimiprojct/__pycache__/team.cpython-312.pyc
